*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-size: 5rem;
    text-align: center;   
}


p{
    text-align: center;
    margin:0px 20px;
    font-size: 1.5rem;
}

img{
    width:500px;
    height: auto;
}

.banner{
 
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
   /* color: white;*/

}

.header{
    background: #362D63;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:100vw;
    height:75px;
    align-items: center;
    font-weight: bold;
    
}

.logo{
    color: white;
    margin-left: 20px;


}


.nav {
    display: flex;
    
}

.nav li{
    margin-left: 20px;
    padding-right: 40px;
    list-style-type: none;
}

.nav li a{
    color: white;
    text-decoration: none;
}

.nav li a:hover{
    text-decoration: underline;
}




.home{
    width:100vw;
    height: 500px;
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-around ;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0px 1px 1px 0px #362D63;
 
}

.home img{
    width:800px;
}

.home-content h1{
    font-size: 5rem;
    text-align: center;
    text-decoration: none;
}

.home-content p {
    font-size: 1.5rem;
    margin-top: 20px;
}

.about{
   
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px 0px 1px 0px solid black;
    box-shadow: 0px 1px 1px 0px #362D63;
}

.services{
    height:100vh;
     border: 0px 0px 1px 0px solid black;
    box-shadow: 0px 1px 1px 0px #362D63;
}
.services-container{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
.services-container div{
     border: 0px 0px 1px 0px solid black;
    box-shadow: 0px 1px 1px 0px #362D63;
     transition:transform .2s;
}

.services-container div:hover{
    transform: scale(1.5);
}


.services-container div img{
width:250px;

}

.contact{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
     border: 0px 0px 1px 0px solid black;
    box-shadow: 0px 1px 1px 0px #362D63;
}

.contact p a{
    text-decoration: none;
    color: black;
}
.contact p a:hover{
    color: black;

    
}
footer{
    width: 100vw;
    height: 75px;
    text-align: center;
    padding-top: 30px;
}



@media only screen and (max-width:755px){

h1{
    font-size: 2rem;
    margin: 20px 0px;
    text-decoration: underline; 
    
}
.header{
    width:755px;

}
.banner{
    width: 755px;
    height: auto;
}
.home{
    width:755px;
    height: auto;
    
}


.home h1{
    font-size: 2.5rem;
    height: auto;
    
}

.about{
    width: 755px;
    height: auto;
}

.services{
    width: 755px;
    height: auto;
}

.services-container{
    width:755px;
    height: auto;
}

.services-container div img{
    width:150px;
    height: auto;
}
 
.contact{
    width:755px;
    height: auto;
    margin-top: 50px;


}
.contact img{
    width: 400px;
}


}

@media only screen and (max-width:600px){

 h1{
   font-size:2rem;
   margin: 20px 0px ;
   text-decoration-line: underline;
    }
 p{
   font-size: 1.3rem;
   margin: 10px 10px;
    }

.banner{
   width: 600px;
   height: auto;
    }
    
.header{
  width:600px;
    
 
    }

.home{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
       
    }


.home-content h1{
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
}

.home-content p {
    font-size: 1.2rem;
    margin: 20px;
}

.about{
    width:600px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    

}


.services{
    width:600px;
    height: auto;
    display: flex;
    flex-direction: column;

}
.services-container{
    width:600px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    
}

.services-container div img{
    width: 120px;

}



.contact{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}
